html {
  font-size: 40px;
}
body {
  background-color: #1f1e33;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #f2f2f5;
  padding: 0;
}

header {
  background-color: #1f1e88;
  background-image: url("../image/ExaVidThumbnail.jpg");
  background-position-x: 100%;
  background-position-y: 60%;
  background-size: 250%;
  display: inline-block;
  text-align: center;
  padding: 20px;
  margin: 0px;
  width: 36rem;
  height: 25rem;
  overflow: auto;
}

button {
  display: inline-block;
  background-color: rgb(240, 248, 255);
  padding: 30px;
  border-radius: 7px;
  font-weight: bold;
  font-size: 1rem;
}

button.active {
  background-color: rgb(131, 133, 134);
}

nav ul {
  list-style-type: none;
}
nav button {
  margin: 1%;
  width: 50%;
}
section button {
  margin: 3rem;
}
button:hover {
  background-color: #d3d1d1;
  transition-timing-function: linear;
  transition-duration: 100ms;
}

section {
  text-align: left;
  padding: 2rem;
  padding-top: 3rem;
  width: 32rem;
}

footer {
  text-align: center;
  font-size: 0.75rem;
  width: 36rem;
}
h1,
h2 {
  text-align: center;
}
p,
aside {
  border-radius: 10px;
  background-image: linear-gradient(to right, #1f1e33, #1f1e99);
  width: 30rem;
  padding: 1rem;
}

aside {
  background-image: linear-gradient(to right, #1f1e33, #1e9199);
}

a {
  text-decoration: none;
  color: red;
}

iframe {
  display: block;
  width: 95%;
  height: 20rem;
}

img {
  width: 32rem;
  margin: auto;
}

header p {
  margin: auto;
}

@media screen and (min-width: 1064px) {
  html {
    background-color: aliceblue;
  }
  html {
    font-size: 25px;
  }
  header {
    width: 95%;
    height: 14rem;
  }

  nav li {
    display: inline-block;
    width: 24%;
  }
  nav a {
    display: inline-block;
    width: 100%;
  }
  nav button {
    display: inline-block;
    padding: 0.5rem 5%;
    width: 100%;
  }
  section {
    width: 95%;
  }
  section h2 {
    float: left;
    display: inline-block;
    box-sizing: content-box;
    width: 32%;
    padding: 3rem 1rem;
    padding-bottom: 3rem;
    margin: 0px;
    height: 100%;
  }
  aside {
    display: inline-block;
    margin: 0;
    width: 57%;
  }
  section button {
    display: inline-block;
    margin: 0.5rem;
    padding: 1rem;
  }
  p {
    display: inline-block;
    width: 90%;
    margin: auto;
  }
  iframe {
    display: inline-block;
    width: 62%;
    height: 30rem;
  }
  footer {
    width: 97%;
  }

  img.banner {
    display: block;
    margin: auto;
    width: 100%;
  }

  section img {
    width: 60%;
    display: inline-block;
    margin: 0;
  }
}
