html {
  font-size: 40px;
}
body {
  background-color: #1f1e33;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #f2f2f5;
  padding: 0;
}

header {
  background-color: #1f1e88;
  background-image: url("../image/ExaVidThumbnail.jpg");
  background-position-x: 100%;
  background-position-y: 60%;
  background-size: 250%;
  display: inline-block;
  text-align: center;
  padding: 20px;
  margin: 0px;
  width: 36rem;
  height: 13rem;
  overflow: auto;
}

button {
  display: inline-block;
  background-color: rgb(240, 248, 255);
  padding: 30px 10rem;
  border-radius: 7px;
  font-weight: bold;
  font-size: 1rem;
}

header button {
  margin: auto;
}
section button {
  margin: 3rem;
}
button:hover {
  background-color: #d3d1d1;
  transition-timing-function: linear;
  transition-duration: 100ms;
}

section {
  text-align: left;
  padding: 2rem;
  padding-top: 3rem;
  width: 32rem;
}

footer {
  text-align: center;
  font-size: 0.75rem;
  width: 36rem;
}
h1,
h2 {
  text-align: center;
}
p,
aside {
  border-radius: 10px;
  background-image: linear-gradient(to right, #1f1e33, #1f1e99);
  width: 30rem;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: red;
}

iframe {
  display: block;
  width: 32rem;
  height: 20rem;
}

@media screen and (min-width: 1000px) {
  html {
    background-color: aliceblue;
  }

  html {
    font-size: 20px;
  }
  header {
    width: 72rem;
  }
  button {
    padding: 0.5rem 2rem;
    margin: auto;
  }
  section {
    width: 100%;
  }
  h2 {
    display: inline-block;
    width: 10rem;
  }
  p {
    display: inline-block;
    width: 20rem;
  }
}
